*
!.gitignore
!.git/
!.git/**
!工作区域/
!工作区域/**/
!工作区域/**/*.py
!工作区域/**/*.pyw
!工作区域/**/*.md
!工作区域/**/*.html
!模版性文件/
!模版性文件/**/
!模版性文件/**/*.py
!模版性文件/**/*.pyw
!模版性文件/**/*.md
!模版性文件/**/*.html

__pycache__/
*.pyc
*.pyo
